examples/integrations/mqtt-integration/wss-live-streaming/nodered/flows/wss-streaming-flow.json
[
  {
    "id": "tesaiot-wss-flow",
    "type": "tab",
    "label": "TESAIoT WSS Streaming",
    "disabled": false,
    "info": "Subscribe to TESAIoT device telemetry via WSS MQTT.\n\nConfigure the MQTT broker node with your MQTT API token."
  },
  {
    "id": "tesaiot-mqtt-broker",
    "type": "mqtt-broker",
    "name": "TESAIoT WSS Broker",
    "broker": "mqtt.tesaiot.com",
    "port": "8085",
    "tls": true,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoConnect": true,
    "usetls": true,
    "credentials": {}
  },
  {
    "id": "mqtt-in-telemetry",
    "type": "mqtt in",
    "z": "tesaiot-wss-flow",
    "name": "Device Telemetry",
    "topic": "device/+/telemetry/#",
    "qos": "1",
    "datatype": "utf8",
    "broker": "tesaiot-mqtt-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 130,
    "y": 120,
    "wires": [["json-parse"]]
  },
  {
    "id": "json-parse",
    "type": "json",
    "z": "tesaiot-wss-flow",
    "name": "Parse JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 310,
    "y": 120,
    "wires": [["process-message"]]
  },
  {
    "id": "process-message",
    "type": "function",
    "z": "tesaiot-wss-flow",
    "name": "Process Message",
    "func": "// Parse topic to extract device ID and sensor type\n// Topic format: device/<device_id>/telemetry/<sensor_type>\nconst parts = msg.topic.split('/');\n\nmsg.device_id = parts[1] || 'unknown';\nmsg.sensor_type = parts.slice(3).join('/') || 'default';\nmsg.timestamp = new Date().toISOString();\nmsg.data = msg.payload;\n\n// Format output message\nmsg.payload = {\n    timestamp: msg.timestamp,\n    device_id: msg.device_id,\n    sensor: msg.sensor_type,\n    data: msg.data\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 120,
    "wires": [["debug-output", "format-debug"]]
  },
  {
    "id": "format-debug",
    "type": "function",
    "z": "tesaiot-wss-flow",
    "name": "Format Debug",
    "func": "// Create formatted debug output\nconst p = msg.payload;\nconst output = `[${p.timestamp}] ${msg.topic}\\n` +\n               `  Device: ${p.device_id}\\n` +\n               `  Sensor: ${p.sensor}\\n` +\n               `  Data: ${JSON.stringify(p.data, null, 2)}`;\n\nmsg.payload = output;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 710,
    "y": 180,
    "wires": [["console-log"]]
  },
  {
    "id": "debug-output",
    "type": "debug",
    "z": "tesaiot-wss-flow",
    "name": "Telemetry Data",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.sensor",
    "statusType": "msg",
    "x": 720,
    "y": 120,
    "wires": []
  },
  {
    "id": "console-log",
    "type": "debug",
    "z": "tesaiot-wss-flow",
    "name": "Console Output",
    "active": true,
    "tosidebar": false,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 900,
    "y": 180,
    "wires": []
  },
  {
    "id": "comment-setup",
    "type": "comment",
    "z": "tesaiot-wss-flow",
    "name": "📋 Setup Instructions",
    "info": "## TESAIoT WSS Live Streaming\n\n### Setup\n1. Double-click the **TESAIoT WSS Broker** config node\n2. Go to **Security** tab\n3. Enter your MQTT API token as both Username and Password\n4. Click **Update** then **Done**\n5. Click **Deploy**\n\n### Get Token\n1. Login to https://admin.tesaiot.com\n2. Go to Organization Settings > MQTT API Tokens\n3. Generate New Token\n4. Copy the token (format: tesa_mqtt_xxx)\n\n### View Messages\nOpen the Debug sidebar (Ctrl+G, D) to see incoming telemetry.",
    "x": 150,
    "y": 40,
    "wires": []
  },
  {
    "id": "inject-status",
    "type": "inject",
    "z": "tesaiot-wss-flow",
    "name": "Check Connection",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "Connection status check",
    "payloadType": "str",
    "x": 150,
    "y": 220,
    "wires": [["status-check"]]
  },
  {
    "id": "status-check",
    "type": "function",
    "z": "tesaiot-wss-flow",
    "name": "Get Status",
    "func": "msg.payload = {\n    status: 'Check the MQTT node status indicator',\n    green: 'Connected',\n    yellow: 'Connecting',\n    red: 'Disconnected',\n    tip: 'Configure token in mqtt-broker Security tab'\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 220,
    "wires": [["status-debug"]]
  },
  {
    "id": "status-debug",
    "type": "debug",
    "z": "tesaiot-wss-flow",
    "name": "Connection Help",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 530,
    "y": 220,
    "wires": []
  }
]
